.custom-error-message {
  position: fixed !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
  z-index: 9999;
  width: auto !important;
  max-width: 80%;
  text-align: center;
}

/* Стилі для контейнера повідомлення */
.ant-message-notice-content {
  padding: 16px 24px !important;
  background: #fff1f0 !important;
  border: 1px solid #ffccc7 !important;
  box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12),
              0 6px 16px 0 rgba(0, 0, 0, 0.08),
              0 9px 28px 8px rgba(0, 0, 0, 0.05) !important;
  border-radius: 4px !important;
} 